{% load static%}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'servicios/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Asesorias y Capacitaciones</title>
</head>

<body>

    <section>
        <header>
            <div class="titulo" id="principio">
                <h1>ACG</h1>
            </div>
            <nav class="navbar navbar-expand-lg navbar-dark ">
                <button class="navbar-toggler" data-target="#menu" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse center" id="menu">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item active">
                            <a href="#inicio" class="nav-link">Inicio</a>
                        </li>
                        <li class="nav-item active">
                            <a href="#acercade" class="nav-link">Acerca de</a>
                        </li>
                        <li class="nav-item active">
                            <a href="#capas" class="nav-link">Capacitaciones</a>
                        </li>
                        <li class="nav-item active">
                            <a href="#asesos" class="nav-link">Asesorías</a>
                        </li>
                        <li class="nav-item active">
                            <a href="#contac" class="nav-link">Contacto</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <section class="contenedor">
            <a name="inicio"></a>
            <div class="sect">
                <div class="cont">
                    <h1 class="titulo">Misión</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum culpa laboriosam veniam, magnam dolore illum perspiciatis assumenda debitis quo dolorem obcaecati velit natus explicabo enim eligendi odit eos quae excepturi. Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Doloribus perspiciatis provident commodi dolores molestiae dolorem molestias omnis aliquid quidem non rerum quo ex fuga enim eum nisi, voluptatum sint obcaecati.
                    </p>
                </div>
                <div class="referencia">
                    <img src="{% static 'servicios/img/pollo.jpg' %}" alt="Plato Pollo">
                </div>
            </div>

            <div class="sect">
                <a name="acercade"></a>
                <div class="cont">

                    <h1 class="titulo">Acerca de</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum culpa laboriosam veniam, magnam dolore illum perspiciatis assumenda debitis quo dolorem obcaecati velit natus explicabo enim eligendi odit eos quae excepturi. Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Doloribus perspiciatis provident commodi dolores molestiae dolorem molestias omnis aliquid quidem non rerum quo ex fuga enim eum nisi, voluptatum sint obcaecati.
                    </p>
                </div>

                <div class="referencia">
                    <img src="{% static 'servicios/img/clase3.jpg' %}" alt="Plato Pollo">
                </div>
            </div>

            <div class="capacitaciones">
                <a name="capas"></a>
                <h1>Nuestras Capacitaciones</h1>
                <figure>
                    <img src="{% static 'servicios/img/banqueteria.png' %}" alt="">
                    <div class="mensaje">
                        <h3>Banqueteria</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sunt aperiam veniam harum.
                        </p>
                    </div>
                </figure>
                <figure>
                    <img src="{% static 'servicios/img/chilena.jpg' %}" alt="">
                    <div class="mensaje">
                        <h3>Cocina Chilena</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sunt aperiam veniam harum.
                        </p>
                    </div>
                </figure>
                <figure>
                    <img src="{% static 'servicios/img/cointernacional.jpg' %}" alt="">
                    <div class="mensaje">
                        <h3>Cocina Internacional</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sunt aperiam veniam harum.
                        </p>
                    </div>
                </figure>
                <figure>
                    <img src="{% static 'servicios/img/panaderia.jpg' %}" alt="">
                    <div class="mensaje">
                        <h3>Panaderia</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sunt aperiam veniam harum.
                        </p>
                    </div>
                </figure>
                <figure>
                    <img src="{% static 'servicios/img/reposteria.jpg' %}" alt="">
                    <div class="mensaje">
                        <h3>Reposteria</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sunt aperiam veniam harum.
                        </p>
                    </div>
                </figure>
                <figure>
                    <img src="{% static 'servicios/img/chocolateria.jpg' %}" alt="">
                    <div class="mensaje">
                        <h3>Chocolateria</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sunt aperiam veniam harum.
                        </p>
                    </div>
                </figure>
            </div>
            <div class="asesorias">
                <a name="asesos"></a>
                <h1>Nuestras Asesorías</h1>
                <div class="carta">
                    <img src="{% static 'servicios/img/aseso-gastro.jpg' %}" alt="">
                    <h4>Asesoría Gastronomica</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, eveniet!</p>
                    <ul>
                        <li>Formación de Cartas</li>
                        <li>Capacitación de Personal</li>
                        <li>Restauración</li>
                    </ul>
                </div>
                <div class="carta">
                    <img src="{% static 'servicios/img/aseso-sani.jpg' %}" alt="">
                    <h4>Asesoría Sanitaria</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, eveniet!</p>
                    <ul>
                        <li>Curso de Manipulación</li>
                        <li>Higiene - Sanitario</li>
                    </ul>
                </div>
                <div class="carta">
                    <img src="{% static 'servicios/img/aseso-logis.png' %}" alt="">
                    <h4>Asesoría Logistica</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, eveniet!</p>
                    <ul>
                        <li>Inicio de Pymes</li>
                        <li>Orientación</li>
                        <li>Compra y Venta</li>
                    </ul>
                </div>
            </div>

            <div class="contac">
                <a name="contac"></a>
                <h1>¿Necesitas ayuda? ¡Contáctanos!</h1>




                <form action="php/enviar.php" method="POST">

                    <div class="row">
                        <div class="col">
                            <label for="nombre">Nombres: </label>
                            <input type="text" name="nombre" size="50" class="form-control" id="nombre" placeholder="Ingrese su nombre">
                            <div id="mensaje1" class="errores">Ingrese un nombre</div>
                        </div>
                        <div class="col">
                            <label for="apellido">Apellidos: </label>
                            <input type="text" name="apellido" size="50" class="form-control" id="apellido" placeholder="Ingrese sus apellidos">
                            <div id="mensaje2" class="errores">Ingrese un apellido</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="celular">Celular: (Opcional)</label>
                            <input type="text" size="50" class="form-control" id="celular" placeholder="Ingrese su Celular">
                        </div>
                        <div class="col">
                            <label for="correo">Correo Electronico: </label>
                            <input type="text" name="correo" size="50" class="form-control" id="correo" placeholder="Ingrese su correo">
                            <div id="mensaje3" class="errores">Ingrese un correo válido</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="asunto">Consulta: </label>
                            <select name="asunto" width="100" id="consulta" class="form-control">
                            <option value="0"></option>
                            <option value="1">Asesorías</option>
                            <option value="2">Capacitaciones</option>
                            <option value="3">Otros</option>
                        </select>
                            <div id="mensaje4" class="errores">Seleccione una opción</div>

                        </div>
                        <div class="col">
                            <label for="mensaje">Mensaje: </label>
                            <textarea name="mensaje" class="form-control" id="mensaje" cols="30" rows="3"></textarea>
                            <div id="mensaje5" class="errores">El mensaje debe contener al menos 20 palabras</div>
                        </div>

                    </div>
                    <div class="boton">
                        <button type="button" id="enviar" class="est">Enviar</button>
                        <button type="reset" id="limpiar" class="est">Limpiar</button>
                    </div>
                </form>
            </div>

            <div class="recetas-random">
                <h1>Algunas de nuestras recetas</h1>
                <div id="img"></div>
                <div class="receta">
                    <div id="nombre" class="style"></div>
                    <div id="categoria" class="style"></div>
                    <div id="origen" class="style"></div>
                    <div id="ingredientes" class="style"></div>
                    <div id="pasos" class="style"></div>
                    <div id="video" class="style"></div>
                </div>


            </div>

            <a href="#principio"><img src="{% static 'servicios/img/flecha-hacia-arriba.png' %}" id="arriba" alt=""></a>

            <script src="{% static 'servicios/js/boton-arriba.js' %}"></script>
            <script src="{% static 'servicios/js/receta-api.js' %}"></script>
        </section>
        <footer id="pie">
            <div class="menu-pie">
                <h2>Menú</h2>
                <ul>

                    <li>
                        <a href="#inicio">Inicio</a>
                    </li>
                    <li>
                        <a href="#acercade">Acerca de</a>
                    </li>
                    <li>
                        <a href="#capas">Capacitaciones</a>
                    </li>
                    <li>
                        <a href="#asesos">Asesorías</a>
                    </li>
                    <li>
                        <a href="#contac">Contacto</a>
                    </li>
                </ul>
            </div>
            <div class="titulo-pie">
                <h2>ACG</h2>
                <h4>Asesorías y Capacitaciones</h4>
            </div>
            <div class="redes">
                <h2>Nuestras Redes</h2>
                <a href="#"><img src="{% static 'servicios/img/facebook.png' %}" alt=""></a>
                <a href="#"><img src="{% static 'servicios/img/instagram.png' %}" alt=""></a>
                <a href="#"><img src="{% static 'servicios/img/whatsapp.png' %}" alt=""></a>
            </div>
            <p>Todos los derecos reservados &copy; Javier Freire & Vicente Calderon</p>
        </footer>





    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'servicios/js/validador.js' %}"></script>

</body>

</html>